:root {
    --primary-color: #34D399;
    --sec-color: #ECFDF5;
    --support-color: #60A5FA;

}

body {
    background-color: var(--sec-color);
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

/*links*/
.button-primary {
    background-color: var(--primary-color);
    color: var(--sec-color);
    
}

.button-secondary {
    background-color: var(--sec-color);
    color: var(--primary-color);
}
.button {
    text-decoration: none;
    border-radius: 0.8rem;
    padding: 0.7rem 0.7rem;
    margin-bottom: 50px;

}


/*navigation*/
.navigation {
    background-color: var(--primary-color);
    padding: 0.5rem;
    /* border-style: inset;
    border-color: var(--support-color); */
    /* text-align: right;*/
}

.nav-head {

    text-align: justify;
    padding-left: 0.35rem;
    
}

.nav-span {

    /* padding-top: 1000px; not working find the reason */
    padding-left: 30px;
    font-size: 1.2rem;
    color: var(--sec-color);
    font-size: x-large;
    font-family: cursive;
}

.nav-menu {
    text-align: right;
}


.nav-menu-list {
    display: inline;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-align: right;
    font-size: large;
}

/*header*/
header {
    color: var(--primary-color);
    text-align: center;
    margin: auto;
}


/*sections*/
section {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    color: var(--sec-color);
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
}

.alternate {
    background-color: var(--sec-color);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    color: var(--primary-color);
    margin-right: 5rem;
    margin-right: 5rem;
    text-align: center;
    border: solid 1px;
}

section .link-button {
    padding: 1rem 1rem;
}

section div {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.alternate div {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* .list-items {
    display: inline;
    padding: 0rem 0.5rem;
    text-align: right;
    
} */

/*footer*/

/* .footer-hr{
    margin: 1.5rem 5rem;
} */

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    margin-top: 4rem;
}

.footer-menu {
    text-align: center;
    padding: 0px 0px;
}

.footer-menu-items {
    display: inline;
    padding-right: 1rem;
    font-size: large;
}

.footer-span {
    text-align: right;
    color: var(--sec-color);
    font-size: large;
    
}

.footer-links {
    color: var(--sec-color);
    text-decoration: none;
}

/****Projects.html****/
.project-top-section{
    margin-top: 5rem;
}

.project-btn {
    margin: 0.5rem 0.5rem;

}
